@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background-color: black;
  display: flex;
  color: white;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
}

/* Header Component */
.headerBox {
  height: 768px;
  width: 100%;
  background-image: url('https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.headerTextBox {
  font-style: italic;
  font-family: 'Anton', sans-serif;
  font-size: 70px;
}

#yellowFont {
  color: #f9ef23;
}
.contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  margin-top: 70px;
  justify-content: flex-start;
}

#logo {
  background-image: url('https://i.ibb.co/KyTf85m/1.png');
  width: 250px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* NavBar Component */

.scrolling-box {
  background-color: white;
  display: block;
  height: 640px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  width: 100%;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #f9ef23;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background-color: transparent;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
  border: black;
  background-color: black;
}

a {
  margin-top: 20px;
  margin-left: 20px;
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #f9ef23;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  font-style: italic;
}

.menuNav li:first-child {
  margin-top: 7rem;
}
/* Routines Component */
.routineBox {
  display: flex;
  height: 640px;
  width: 100%;
  background-color: black;
  justify-content: right;
  align-items: center;
}
.routineCardBox {
  display: flex;
  height: 500px;
  width: 85%;
  background-color: #f9ef23;
  margin-right: 20px;
}
.routineItem {
  height: 500px;
  width: 65%;
  background-image: url('https://images.pexels.com/photos/841132/pexels-photo-841132.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.routineSelection {
  height: 500px;
  width: 35%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
}

#choice {
  height: 50px;
  width: 99%;
  background-color: white;
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  color: black;
  font-family: 'Anton', sans-serif;
}

#choiceYellow {
  height: 50px;
  width: 99%;
  background-color: #f9ef23;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: black;
  font-family: 'Anton', sans-serif;
}

.textBox {
  font-family: 'Anton', sans-serif;
}
.titleRoutineBanner {
  font-family: 'Anton', sans-serif;
}
.detailsButton {
  font-family: 'Anton', sans-serif;
}
.bottomText {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 30x;
  margin-top: 100px;
}

.card {
  height: 400px;
  width: 275px;
  background-color: white;
}
.routinesCardBox {
  height: 1200px;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  margin-top: 30px;
  flex-wrap: wrap;
  background-color: #f9ef23;
}
.workoutRoutineTitle {
  font-family: 'Anton', sans-serif;
  margin-left: 150px;
  margin-top: 75px;
}

/* Routine Details Component */
.routineDetailsBox {
  display: flex;
}

/* About Component */
.aboutBox {
  display: flex;
  height: 640px;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: 'Anton', sans-serif;
}

.aboutCardBox {
  height: 500px;
  width: 350px;
  background-color: #f9ef23;
}

.aboutBox .title {
  font-size: 30px;
}

/* Footer Component */
.footerBox {
  background-color: black;
  display: flex;
  height: 640px;
  width: 100%;
  flex-direction: column;
  font-family: 'Anton', sans-serif;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.aboutTextBox {
  height: 700;
  width: 80%;
}

.footerLinkBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
  font-family: 'Anton', sans-serif;
  background-color: #f9ef23;
  color: black;
  height: 700;
  width: 100%;
}

.row1 {
  text-align: left;
}
.row2 {
  text-align: left;
  color: black;
}
.logo {
  margin-top: 30px;
}

.spacer {
  height: 100px;
  width: 100%;
  background-color: black;
}
/* Reused elements */
button {
  text-align: center;
  height: 50px;
  width: 80px;
  background-color: white;
  color: black;
  font-family: 'Anton', sans-serif;
}

.title {
  font-style: italic;
  font-family: 'Anton', sans-serif;
}

#link {
  color: black;
  font-size: 20px;
  font-style: none;
}
h1 {
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  font-style: italic;
}
