@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #f9ef23;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.modaltitle {
  font-family: 'Anton', sans-serif;
}
.modalbody {
  font-family: Arial, Helvetica, sans-serif;
}

.modalfooter {
  font-family: Arial, Helvetica, sans-serif;
}
